<div *ngIf="isLoadingDownload" id="overlay">
    <mat-spinner color="accent" style="margin:auto; top: 50%;" ></mat-spinner>
</div>


<div class="stream-wrapper" fxLayout="row" fxLayoutAlign="center center"> 

    <mat-card fxFlex="90">
        <mat-card-header>
            <div mat-card-avatar>
                <button (click)="goBack()" mat-icon-button color="accent">
                    <mat-icon>arrow_backward</mat-icon>
                </button>
            </div>
            <mat-card-title>{{ fileTitle }}</mat-card-title>
            <mat-card-subtitle>{{ filePath }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div style="margin-top:10px;">
                <video width="500" controls>
                    <source [src]="streamPath" type="video/mp4">
                    <source [src]="streamPath" type="video/ogg">
                  Your browser does not support the video tag.
                </video>
            </div>

            <button (click)="downloadFile(fileName, filePath)" mat-raised-button color="accent" style="margin-top:20px;">
                {{ 'DOWNLOAD' | translate}}
                <mat-icon>cloud_download</mat-icon>
            </button>

 
        </mat-card-content>
    </mat-card>

</div>